In [28]:
import pandas as pd
import plotly.express as px
import matplotlib as plt
import datetime
from xgboost import XGBClassifier, XGBRegressor
from sqlalchemy import create_engine

In [2]:
df=pd.read_excel(r'C:\Users\aniru\Desktop\uci\data\raw_tac\HV0618 CAM Results.xlsx')
df

,Readings,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,TAC Level,NaN,NaN,IR Voltage,NaN,NaN,NaN,NaN,Temperature,NaN,NaN,Time,NaN,NaN,NaN,Date
1,0.000,NaN,NaN,0.789,NaN,NaN,NaN,NaN,80.076,NaN,NaN,2017-05-02 11:27:59,NaN,NaN,NaN,2017-05-02 11:27:59
2,0.000,NaN,NaN,0.846,NaN,NaN,NaN,NaN,76.545,NaN,NaN,2017-05-02 11:58:24,NaN,NaN,NaN,2017-05-02 11:58:24
3,0.000,NaN,NaN,0.874,NaN,NaN,NaN,NaN,76.174,NaN,NaN,2017-05-02 12:03:39,NaN,NaN,NaN,2017-05-02 12:03:39
4,0.000,NaN,NaN,0.873,NaN,NaN,NaN,NaN,76.732,NaN,NaN,2017-05-02 12:08:53,NaN,NaN,NaN,2017-05-02 12:08:53
5,0.000,NaN,NaN,0.872,NaN,NaN,NaN,NaN,77.103,NaN,NaN,2017-05-02 12:14:08,NaN,NaN,NaN,2017-05-02 12:14:08
6,0.000,NaN,NaN,0.832,NaN,NaN,NaN,NaN,77.475,NaN,NaN,2017-05-02 12:19:23,NaN,NaN,NaN,2017-05-02 12:19:23
7,0.000,NaN,NaN,0.816,NaN,NaN,NaN,NaN,77.475,NaN,NaN,2017-05-02 12:24:37,NaN,NaN,NaN,2017-05-02 12:24:37
8,0.000,NaN,NaN,0.926,NaN,NaN,NaN,NaN,77.846,NaN,NaN,2017-05-02 12:29:52,NaN,NaN,NaN,2017-05-02 12:29:52
9,0.000,NaN,NaN,0.87,NaN,NaN,NaN,NaN,78.219,NaN,NaN,2017-05-02 12:35:29,NaN,NaN,NaN,2017-05-02 12:35:29
10,0.005,NaN,NaN,0.902,NaN,NaN,NaN,NaN,78.777,NaN,NaN,2017-05-02 12:41:09,NaN,NaN,NaN,2017-05-02 12:41:09
11,0.026,NaN,NaN,0.86,NaN,NaN,NaN,NaN,78.777,NaN,NaN,2017-05-02 12:46:48,NaN,NaN,NaN,2017-05-02 12:46:48
12,0.000,NaN,NaN,1.194,NaN,NaN,NaN,NaN,81.192,NaN,NaN,2017-05-02 13:17:44,NaN,NaN,NaN,2017-05-02 13:17:44
13,0.000,NaN,NaN,0.887,NaN,NaN,NaN,NaN,80.82,NaN,NaN,2017-05-02 13:22:59,NaN,NaN,NaN,2017-05-02 13:22:59
14,0.048,NaN,NaN,0.887,NaN,NaN,NaN,NaN,80.449,NaN,NaN,2017-05-02 13:53:40,NaN,NaN,NaN,2017-05-02 13:53:40
15,0.019,NaN,NaN,0.887,NaN,NaN,NaN,NaN,79.333,NaN,NaN,2017-05-02 14:24:35,NaN,NaN,NaN,2017-05-02 14:24:35
16,0.143,NaN,NaN,0.887,NaN,NaN,NaN,NaN,81.007,NaN,NaN,2017-05-02 14:55:17,NaN,NaN,NaN,2017-05-02 14:55:17
17,0.041,NaN,NaN,1.064,NaN,NaN,NaN,NaN,81.007,NaN,NaN,2017-05-02 15:26:14,NaN,NaN,NaN,2017-05-02 15:26:14
18,0.105,NaN,NaN,0.887,NaN,NaN,NaN,NaN,80.449,NaN,NaN,2017-05-02 16:01:28,NaN,NaN,NaN,2017-05-02 16:01:28
19,0.110,NaN,NaN,0.887,NaN,NaN,NaN,NaN,80.263,NaN,NaN,2017-05-02 16:33:45,NaN,NaN,NaN,2017-05-02 16:33:45
20,0.018,NaN,NaN,0.887,NaN,NaN,NaN,NaN,75.43,NaN,NaN,2017-05-02 17:08:00,NaN,NaN,NaN,2017-05-02 17:08:00
21,0.033,NaN,NaN,0.887,NaN,NaN,NaN,NaN,76.174,NaN,NaN,2017-05-02 17:44:16,NaN,NaN,NaN,2017-05-02 17:44:16
22,0.030,NaN,NaN,1.034,NaN,NaN,NaN,NaN,76.174,NaN,NaN,2017-05-02 18:15:15,NaN,NaN,NaN,2017-05-02 18:15:15
23,0.167,NaN,NaN,0.887,NaN,NaN,NaN,NaN,71.526,NaN,NaN,2017-05-02 18:49:06,NaN,NaN,NaN,2017-05-02 18:49:06
24,0.170,NaN,NaN,0.887,NaN,NaN,NaN,NaN,72.084,NaN,NaN,2017-05-02 19:20:07,NaN,NaN,NaN,2017-05-02 19:20:07
25,0.181,NaN,NaN,1.037,NaN,NaN,NaN,NaN,77.288,NaN,NaN,2017-05-02 19:54:15,NaN,NaN,NaN,2017-05-02 19:54:15
26,0.224,NaN,NaN,0.887,NaN,NaN,NaN,NaN,85.84,NaN,NaN,2017-05-02 20:25:15,NaN,NaN,NaN,2017-05-02 20:25:15
27,0.130,NaN,NaN,0.887,NaN,NaN,NaN,NaN,89.744,NaN,NaN,2017-05-02 20:56:13,NaN,NaN,NaN,2017-05-02 20:56:13
28,0.036,NaN,NaN,0.887,NaN,NaN,NaN,NaN,89.371,NaN,NaN,2017-05-02 21:27:08,NaN,NaN,NaN,2017-05-02 21:27:08
29,0.090,NaN,NaN,0.887,NaN,NaN,NaN,NaN,89.929,NaN,NaN,2017-05-02 21:58:03,NaN,NaN,NaN,2017-05-02 21:58:03
30,0.071,NaN,NaN,1.004,NaN,NaN,NaN,NaN,89.929,NaN,NaN,2017-05-02 22:28:58,NaN,NaN,NaN,2017-05-02 22:28:58
31,0.038,NaN,NaN,1.013,NaN,NaN,NaN,NaN,84.909,NaN,NaN,2017-05-02 22:59:52,NaN,NaN,NaN,2017-05-02 22:59:52
32,0.063,NaN,NaN,1.029,NaN,NaN,NaN,NaN,84.353,NaN,NaN,2017-05-02 23:30:49,NaN,NaN,NaN,2017-05-02 23:30:49
33,0.025,NaN,NaN,0.887,NaN,NaN,NaN,NaN,87.512,NaN,NaN,2017-05-03 00:01:46,NaN,NaN,NaN,2017-05-03 00:01:46
34,0.105,NaN,NaN,0.887,NaN,NaN,NaN,NaN,91.044,NaN,NaN,2017-05-03 00:32:42,NaN,NaN,NaN,2017-05-03 00:32:42
35,0.051,NaN,NaN,0.887,NaN,NaN,NaN,NaN,86.398,NaN,NaN,2017-05-03 01:03:36,NaN,NaN,NaN,2017-05-03 01:03:36
36,0.027,NaN,NaN,0.887,NaN,NaN,NaN,NaN,82.308,NaN,NaN,2017-05-03 01:34:32,NaN,NaN,NaN,2017-05-03 01:34:32
37,0.027,NaN,NaN,0.996,NaN,NaN,NaN,NaN,86.398,NaN,NaN,2017-05-03 02:05:31,NaN,NaN,NaN,2017-05-03 02:05:31
38,0.023,NaN,NaN,0.887,NaN,NaN,NaN,NaN,88.999,NaN,NaN,2017-05-03 02:36:26,NaN,NaN,NaN,2017-05-03 02:36:26
39,0.022,NaN,NaN,0.887,NaN,NaN,NaN,NaN,93.088,NaN,NaN,2017-05-03 03:07:21,NaN,NaN,NaN,2017-05-03 03:07:21
40,0.017,NaN,NaN,0.887,NaN,NaN,NaN,NaN,92.16,NaN,NaN,2017-05-03 03:38:15,NaN,NaN,NaN,2017-05-03 03:38:15
41,0.012,NaN,NaN,0.887,NaN,NaN,NaN,NaN,89.744,NaN,NaN,2017-05-03 04:08:53,NaN,NaN,NaN,2017-05-03 04:08:53
42,0.008,NaN,NaN,0.887,NaN,NaN,NaN,NaN,93.646,NaN,NaN,2017-05-03 04:39:31,NaN,NaN,NaN,2017-05-03 04:39:31
43,0.008,NaN,NaN,0.887,NaN,NaN,NaN,NaN,93.834,NaN,NaN,2017-05-03 05:10:09,NaN,NaN,NaN,2017-05-03 05:10:09
44,0.007,NaN,NaN,0.916,NaN,NaN,NaN,NaN,92.718,NaN,NaN,2017-05-03 05:40:46,NaN,NaN,NaN,2017-05-03 05:40:46
45,0.008,NaN,NaN,0.916,NaN,NaN,NaN,NaN,93.646,NaN,NaN,2017-05-03 06:11:22,NaN,NaN,NaN,2017-05-03 06:11:22
46,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,91.602,NaN,NaN,2017-05-03 06:42:00,NaN,NaN,NaN,2017-05-03 06:42:00
47,0.006,NaN,NaN,0.916,NaN,NaN,NaN,NaN,93.088,NaN,NaN,2017-05-03 07:12:35,NaN,NaN,NaN,2017-05-03 07:12:35
48,0.006,NaN,NaN,0.916,NaN,NaN,NaN,NaN,94.577,NaN,NaN,2017-05-03 07:43:11,NaN,NaN,NaN,2017-05-03 07:43:11
49,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,91.416,NaN,NaN,2017-05-03 08:13:49,NaN,NaN,NaN,2017-05-03 08:13:49
50,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,91.602,NaN,NaN,2017-05-03 08:44:25,NaN,NaN,NaN,2017-05-03 08:44:25
51,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,86.398,NaN,NaN,2017-05-03 09:15:03,NaN,NaN,NaN,2017-05-03 09:15:03
52,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,80.634,NaN,NaN,2017-05-03 09:45:38,NaN,NaN,NaN,2017-05-03 09:45:38
53,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,77.475,NaN,NaN,2017-05-03 10:16:23,NaN,NaN,NaN,2017-05-03 10:16:23
54,0.000,NaN,NaN,0.916,NaN,NaN,NaN,NaN,72.642,NaN,NaN,2017-05-03 10:46:39,NaN,NaN,NaN,2017-05-03 10:46:39

In [3]:
df = df.drop(columns= ['Unnamed: 1','Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
                   'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 13',
                     'Unnamed: 14'])

In [4]:
df.columns = df.iloc[0]
df = df[1:]
df = df.sort_values('TAC Level', ascending=False).reset_index(drop=True)

In [5]:
df

0  TAC Level IR Voltage Temperature                 Time                 Date
0      0.224      0.887       85.84  2017-05-02 20:25:15  2017-05-02 20:25:15
1      0.181      1.037      77.288  2017-05-02 19:54:15  2017-05-02 19:54:15
2      0.170      0.887      72.084  2017-05-02 19:20:07  2017-05-02 19:20:07
3      0.167      0.887      71.526  2017-05-02 18:49:06  2017-05-02 18:49:06
4      0.143      0.887      81.007  2017-05-02 14:55:17  2017-05-02 14:55:17
5      0.130      0.887      89.744  2017-05-02 20:56:13  2017-05-02 20:56:13
6      0.110      0.887      80.263  2017-05-02 16:33:45  2017-05-02 16:33:45
7      0.105      0.887      80.449  2017-05-02 16:01:28  2017-05-02 16:01:28
8      0.105      0.887      91.044  2017-05-03 00:32:42  2017-05-03 00:32:42
9      0.090      0.887      89.929  2017-05-02 21:58:03  2017-05-02 21:58:03
10     0.071      1.004      89.929  2017-05-02 22:28:58  2017-05-02 22:28:58
11     0.063      1.029      84.353  2017-05-02 23:30:49  2017-05-02 23:30:49
12     0.051      0.887      86.398  2017-05-03 01:03:36  2017-05-03 01:03:36
13     0.048      0.887      80.449  2017-05-02 13:53:40  2017-05-02 13:53:40
14     0.041      1.064      81.007  2017-05-02 15:26:14  2017-05-02 15:26:14
15     0.038      1.013      84.909  2017-05-02 22:59:52  2017-05-02 22:59:52
16     0.036      0.887      89.371  2017-05-02 21:27:08  2017-05-02 21:27:08
17     0.033      0.887      76.174  2017-05-02 17:44:16  2017-05-02 17:44:16
18     0.030      1.034      76.174  2017-05-02 18:15:15  2017-05-02 18:15:15
19     0.027      0.996      86.398  2017-05-03 02:05:31  2017-05-03 02:05:31
20     0.027      0.887      82.308  2017-05-03 01:34:32  2017-05-03 01:34:32
21     0.026       0.86      78.777  2017-05-02 12:46:48  2017-05-02 12:46:48
22     0.025      0.887      87.512  2017-05-03 00:01:46  2017-05-03 00:01:46
23     0.023      0.887      88.999  2017-05-03 02:36:26  2017-05-03 02:36:26
24     0.022      0.887      93.088  2017-05-03 03:07:21  2017-05-03 03:07:21
25     0.019      0.887      79.333  2017-05-02 14:24:35  2017-05-02 14:24:35
26     0.018      0.887       75.43  2017-05-02 17:08:00  2017-05-02 17:08:00
27     0.017      0.887       92.16  2017-05-03 03:38:15  2017-05-03 03:38:15
28     0.012      0.887      89.744  2017-05-03 04:08:53  2017-05-03 04:08:53
29     0.008      0.887      93.646  2017-05-03 04:39:31  2017-05-03 04:39:31
30     0.008      0.916      93.646  2017-05-03 06:11:22  2017-05-03 06:11:22
31     0.008      0.887      93.834  2017-05-03 05:10:09  2017-05-03 05:10:09
32     0.007      0.916      92.718  2017-05-03 05:40:46  2017-05-03 05:40:46
33     0.006      0.916      94.577  2017-05-03 07:43:11  2017-05-03 07:43:11
34     0.006      0.916      93.088  2017-05-03 07:12:35  2017-05-03 07:12:35
35     0.005      0.902      78.777  2017-05-02 12:41:09  2017-05-02 12:41:09
36     0.000      0.916      91.416  2017-05-03 08:13:49  2017-05-03 08:13:49
37     0.000      0.916      86.398  2017-05-03 09:15:03  2017-05-03 09:15:03
38     0.000      0.916      80.634  2017-05-03 09:45:38  2017-05-03 09:45:38
39     0.000      0.916      77.475  2017-05-03 10:16:23  2017-05-03 10:16:23
40     0.000      0.916      91.602  2017-05-03 06:42:00  2017-05-03 06:42:00
41     0.000      0.916      91.602  2017-05-03 08:44:25  2017-05-03 08:44:25
42     0.000      0.789      80.076  2017-05-02 11:27:59  2017-05-02 11:27:59
43     0.000      0.846      76.545  2017-05-02 11:58:24  2017-05-02 11:58:24
44     0.000      0.887       80.82  2017-05-02 13:22:59  2017-05-02 13:22:59
45     0.000      1.194      81.192  2017-05-02 13:17:44  2017-05-02 13:17:44
46     0.000       0.87      78.219  2017-05-02 12:35:29  2017-05-02 12:35:29
47     0.000      0.926      77.846  2017-05-02 12:29:52  2017-05-02 12:29:52
48     0.000      0.816      77.475  2017-05-02 12:24:37  2017-05-02 12:24:37
49     0.000      0.832      77.475  2017-05-02 12:19:23  2017-05-02 12:19:23
50     0.000      0.872      77.103  2017-05-02 12:14:08  2017-05-02 12:14:08
51     0.000      0.873      76.732  2017-05-02 12:08:53  2017-05-02 12:08:53
52     0.000      0.874      76.174  2017-05-02 12:03:39  2017-05-02 12:03:39
53     0.000      0.916      72.642  2017-05-03 10:46:39  2017-05-03 10:46:39

In [6]:
df.columns=df.columns.str.lower().str.replace(' ','_')
df

0  tac_level ir_voltage temperature                 time                 date
0      0.224      0.887       85.84  2017-05-02 20:25:15  2017-05-02 20:25:15
1      0.181      1.037      77.288  2017-05-02 19:54:15  2017-05-02 19:54:15
2      0.170      0.887      72.084  2017-05-02 19:20:07  2017-05-02 19:20:07
3      0.167      0.887      71.526  2017-05-02 18:49:06  2017-05-02 18:49:06
4      0.143      0.887      81.007  2017-05-02 14:55:17  2017-05-02 14:55:17
5      0.130      0.887      89.744  2017-05-02 20:56:13  2017-05-02 20:56:13
6      0.110      0.887      80.263  2017-05-02 16:33:45  2017-05-02 16:33:45
7      0.105      0.887      80.449  2017-05-02 16:01:28  2017-05-02 16:01:28
8      0.105      0.887      91.044  2017-05-03 00:32:42  2017-05-03 00:32:42
9      0.090      0.887      89.929  2017-05-02 21:58:03  2017-05-02 21:58:03
10     0.071      1.004      89.929  2017-05-02 22:28:58  2017-05-02 22:28:58
11     0.063      1.029      84.353  2017-05-02 23:30:49  2017-05-02 23:30:49
12     0.051      0.887      86.398  2017-05-03 01:03:36  2017-05-03 01:03:36
13     0.048      0.887      80.449  2017-05-02 13:53:40  2017-05-02 13:53:40
14     0.041      1.064      81.007  2017-05-02 15:26:14  2017-05-02 15:26:14
15     0.038      1.013      84.909  2017-05-02 22:59:52  2017-05-02 22:59:52
16     0.036      0.887      89.371  2017-05-02 21:27:08  2017-05-02 21:27:08
17     0.033      0.887      76.174  2017-05-02 17:44:16  2017-05-02 17:44:16
18     0.030      1.034      76.174  2017-05-02 18:15:15  2017-05-02 18:15:15
19     0.027      0.996      86.398  2017-05-03 02:05:31  2017-05-03 02:05:31
20     0.027      0.887      82.308  2017-05-03 01:34:32  2017-05-03 01:34:32
21     0.026       0.86      78.777  2017-05-02 12:46:48  2017-05-02 12:46:48
22     0.025      0.887      87.512  2017-05-03 00:01:46  2017-05-03 00:01:46
23     0.023      0.887      88.999  2017-05-03 02:36:26  2017-05-03 02:36:26
24     0.022      0.887      93.088  2017-05-03 03:07:21  2017-05-03 03:07:21
25     0.019      0.887      79.333  2017-05-02 14:24:35  2017-05-02 14:24:35
26     0.018      0.887       75.43  2017-05-02 17:08:00  2017-05-02 17:08:00
27     0.017      0.887       92.16  2017-05-03 03:38:15  2017-05-03 03:38:15
28     0.012      0.887      89.744  2017-05-03 04:08:53  2017-05-03 04:08:53
29     0.008      0.887      93.646  2017-05-03 04:39:31  2017-05-03 04:39:31
30     0.008      0.916      93.646  2017-05-03 06:11:22  2017-05-03 06:11:22
31     0.008      0.887      93.834  2017-05-03 05:10:09  2017-05-03 05:10:09
32     0.007      0.916      92.718  2017-05-03 05:40:46  2017-05-03 05:40:46
33     0.006      0.916      94.577  2017-05-03 07:43:11  2017-05-03 07:43:11
34     0.006      0.916      93.088  2017-05-03 07:12:35  2017-05-03 07:12:35
35     0.005      0.902      78.777  2017-05-02 12:41:09  2017-05-02 12:41:09
36     0.000      0.916      91.416  2017-05-03 08:13:49  2017-05-03 08:13:49
37     0.000      0.916      86.398  2017-05-03 09:15:03  2017-05-03 09:15:03
38     0.000      0.916      80.634  2017-05-03 09:45:38  2017-05-03 09:45:38
39     0.000      0.916      77.475  2017-05-03 10:16:23  2017-05-03 10:16:23
40     0.000      0.916      91.602  2017-05-03 06:42:00  2017-05-03 06:42:00
41     0.000      0.916      91.602  2017-05-03 08:44:25  2017-05-03 08:44:25
42     0.000      0.789      80.076  2017-05-02 11:27:59  2017-05-02 11:27:59
43     0.000      0.846      76.545  2017-05-02 11:58:24  2017-05-02 11:58:24
44     0.000      0.887       80.82  2017-05-02 13:22:59  2017-05-02 13:22:59
45     0.000      1.194      81.192  2017-05-02 13:17:44  2017-05-02 13:17:44
46     0.000       0.87      78.219  2017-05-02 12:35:29  2017-05-02 12:35:29
47     0.000      0.926      77.846  2017-05-02 12:29:52  2017-05-02 12:29:52
48     0.000      0.816      77.475  2017-05-02 12:24:37  2017-05-02 12:24:37
49     0.000      0.832      77.475  2017-05-02 12:19:23  2017-05-02 12:19:23
50     0.000      0.872      77.103  2017-05-02 12:14:08  2017-05-02 12:14:08
51     0.000      0.873      76.732  2017-05-02 12:08:53  2017-05-02 12:08:53
52     0.000      0.874      76.174  2017-05-02 12:03:39  2017-05-02 12:03:39
53     0.000      0.916      72.642  2017-05-03 10:46:39  2017-05-03 10:46:39

In [7]:
df['tac_level'] = df['tac_level'].astype(float)

In [8]:
fig = px.histogram(x = df['date'], y = df['tac_level'], nbins = 50)
fig.show()

In [9]:
my_connection = create_engine('mysql+mysqldb://anirudh:shigEonaRa0989@localhost/alcohol')

In [10]:
my_connection = my_connection.connect()

In [11]:
df.to_sql(con=my_connection, name='alcohol_levels',if_exists = 'replace')

54

In [12]:
pd.read_sql('SELECT * FROM alcohol_levels', con = my_connection)

,index,tac_level,ir_voltage,temperature,time,date
0,0,0.224,0.887,85.840,2017-05-02 20:25:15,2017-05-02 20:25:15
1,1,0.181,1.037,77.288,2017-05-02 19:54:15,2017-05-02 19:54:15
2,2,0.170,0.887,72.084,2017-05-02 19:20:07,2017-05-02 19:20:07
3,3,0.167,0.887,71.526,2017-05-02 18:49:06,2017-05-02 18:49:06
4,4,0.143,0.887,81.007,2017-05-02 14:55:17,2017-05-02 14:55:17
5,5,0.130,0.887,89.744,2017-05-02 20:56:13,2017-05-02 20:56:13
6,6,0.110,0.887,80.263,2017-05-02 16:33:45,2017-05-02 16:33:45
7,7,0.105,0.887,80.449,2017-05-02 16:01:28,2017-05-02 16:01:28
8,8,0.105,0.887,91.044,2017-05-03 00:32:42,2017-05-03 00:32:42
9,9,0.090,0.887,89.929,2017-05-02 21:58:03,2017-05-02 21:58:03
10,10,0.071,1.004,89.929,2017-05-02 22:28:58,2017-05-02 22:28:58
11,11,0.063,1.029,84.353,2017-05-02 23:30:49,2017-05-02 23:30:49
12,12,0.051,0.887,86.398,2017-05-03 01:03:36,2017-05-03 01:03:36
13,13,0.048,0.887,80.449,2017-05-02 13:53:40,2017-05-02 13:53:40
14,14,0.041,1.064,81.007,2017-05-02 15:26:14,2017-05-02 15:26:14
15,15,0.038,1.013,84.909,2017-05-02 22:59:52,2017-05-02 22:59:52
16,16,0.036,0.887,89.371,2017-05-02 21:27:08,2017-05-02 21:27:08
17,17,0.033,0.887,76.174,2017-05-02 17:44:16,2017-05-02 17:44:16
18,18,0.030,1.034,76.174,2017-05-02 18:15:15,2017-05-02 18:15:15
19,19,0.027,0.996,86.398,2017-05-03 02:05:31,2017-05-03 02:05:31
20,20,0.027,0.887,82.308,2017-05-03 01:34:32,2017-05-03 01:34:32
21,21,0.026,0.860,78.777,2017-05-02 12:46:48,2017-05-02 12:46:48
22,22,0.025,0.887,87.512,2017-05-03 00:01:46,2017-05-03 00:01:46
23,23,0.023,0.887,88.999,2017-05-03 02:36:26,2017-05-03 02:36:26
24,24,0.022,0.887,93.088,2017-05-03 03:07:21,2017-05-03 03:07:21
25,25,0.019,0.887,79.333,2017-05-02 14:24:35,2017-05-02 14:24:35
26,26,0.018,0.887,75.430,2017-05-02 17:08:00,2017-05-02 17:08:00
27,27,0.017,0.887,92.160,2017-05-03 03:38:15,2017-05-03 03:38:15
28,28,0.012,0.887,89.744,2017-05-03 04:08:53,2017-05-03 04:08:53
29,29,0.008,0.887,93.646,2017-05-03 04:39:31,2017-05-03 04:39:31
30,30,0.008,0.916,93.646,2017-05-03 06:11:22,2017-05-03 06:11:22
31,31,0.008,0.887,93.834,2017-05-03 05:10:09,2017-05-03 05:10:09
32,32,0.007,0.916,92.718,2017-05-03 05:40:46,2017-05-03 05:40:46
33,33,0.006,0.916,94.577,2017-05-03 07:43:11,2017-05-03 07:43:11
34,34,0.006,0.916,93.088,2017-05-03 07:12:35,2017-05-03 07:12:35
35,35,0.005,0.902,78.777,2017-05-02 12:41:09,2017-05-02 12:41:09
36,36,0.000,0.916,91.416,2017-05-03 08:13:49,2017-05-03 08:13:49
37,37,0.000,0.916,86.398,2017-05-03 09:15:03,2017-05-03 09:15:03
38,38,0.000,0.916,80.634,2017-05-03 09:45:38,2017-05-03 09:45:38
39,39,0.000,0.916,77.475,2017-05-03 10:16:23,2017-05-03 10:16:23
40,40,0.000,0.916,91.602,2017-05-03 06:42:00,2017-05-03 06:42:00
41,41,0.000,0.916,91.602,2017-05-03 08:44:25,2017-05-03 08:44:25
42,42,0.000,0.789,80.076,2017-05-02 11:27:59,2017-05-02 11:27:59
43,43,0.000,0.846,76.545,2017-05-02 11:58:24,2017-05-02 11:58:24
44,44,0.000,0.887,80.820,2017-05-02 13:22:59,2017-05-02 13:22:59
45,45,0.000,1.194,81.192,2017-05-02 13:17:44,2017-05-02 13:17:44
46,46,0.000,0.870,78.219,2017-05-02 12:35:29,2017-05-02 12:35:29
47,47,0.000,0.926,77.846,2017-05-02 12:29:52,2017-05-02 12:29:52
48,48,0.000,0.816,77.475,2017-05-02 12:24:37,2017-05-02 12:24:37
49,49,0.000,0.832,77.475,2017-05-02 12:19:23,2017-05-02 12:19:23
50,50,0.000,0.872,77.103,2017-05-02 12:14:08,2017-05-02 12:14:08
51,51,0.000,0.873,76.732,2017-05-02 12:08:53,2017-05-02 12:08:53
52,52,0.000,0.874,76.174,2017-05-02 12:03:39,2017-05-02 12:03:39
53,53,0.000,0.916,72.642,2017-05-03 10:46:39,2017-05-03 10:46:39

In [13]:
import mysql.connector

In [15]:
mydb = mysql.connector.connect(username='anirudh', password='shigEonaRa0989', host='127.0.0.1')

cur= mydb.cursor()

cur.execute('SHOW DATABASES')
for x in cur:
    print(x)
cur.close()

('alcohol',)
('information_schema',)
('mysql',)
('performance_schema',)
('pwct',)
('sakila',)
('sys',)
('world',)

True

In [16]:
mydb = mysql.connector.connect(username='anirudh', password='shigEonaRa0989', host='127.0.0.1', database = 'alcohol')
cur = mydb.cursor()
cur.execute('SHOW TABLES')
for x in cur:
    print(x)

('alcohol_levels',)

In [17]:
cur.execute('SELECT * FROM alcohol_levels')
cur.fetchall()

[(0,
  0.224,
  0.887,
  85.84,
  datetime.datetime(2017, 5, 2, 20, 25, 15),
  datetime.datetime(2017, 5, 2, 20, 25, 15)),
 (1,
  0.181,
  1.037,
  77.288,
  datetime.datetime(2017, 5, 2, 19, 54, 15),
  datetime.datetime(2017, 5, 2, 19, 54, 15)),
 (2,
  0.17,
  0.887,
  72.084,
  datetime.datetime(2017, 5, 2, 19, 20, 7),
  datetime.datetime(2017, 5, 2, 19, 20, 7)),
 (3,
  0.167,
  0.887,
  71.526,
  datetime.datetime(2017, 5, 2, 18, 49, 6),
  datetime.datetime(2017, 5, 2, 18, 49, 6)),
 (4,
  0.143,
  0.887,
  81.007,
  datetime.datetime(2017, 5, 2, 14, 55, 17),
  datetime.datetime(2017, 5, 2, 14, 55, 17)),
 (5,
  0.13,
  0.887,
  89.744,
  datetime.datetime(2017, 5, 2, 20, 56, 13),
  datetime.datetime(2017, 5, 2, 20, 56, 13)),
 (6,
  0.11,
  0.887,
  80.263,
  datetime.datetime(2017, 5, 2, 16, 33, 45),
  datetime.datetime(2017, 5, 2, 16, 33, 45)),
 (7,
  0.105,
  0.887,
  80.449,
  datetime.datetime(2017, 5, 2, 16, 1, 28),
  datetime.datetime(2017, 5, 2, 16, 1, 28)),
 (8,
  0.105,
  0.887,
  91.044,
  datetime.datetime(2017, 5, 3, 0, 32, 42),
  datetime.datetime(2017, 5, 3, 0, 32, 42)),
 (9,
  0.09,
  0.887,
  89.929,
  datetime.datetime(2017, 5, 2, 21, 58, 3),
  datetime.datetime(2017, 5, 2, 21, 58, 3)),
 (10,
  0.071,
  1.004,
  89.929,
  datetime.datetime(2017, 5, 2, 22, 28, 58),
  datetime.datetime(2017, 5, 2, 22, 28, 58)),
 (11,
  0.063,
  1.029,
  84.353,
  datetime.datetime(2017, 5, 2, 23, 30, 49),
  datetime.datetime(2017, 5, 2, 23, 30, 49)),
 (12,
  0.051,
  0.887,
  86.398,
  datetime.datetime(2017, 5, 3, 1, 3, 36),
  datetime.datetime(2017, 5, 3, 1, 3, 36)),
 (13,
  0.048,
  0.887,
  80.449,
  datetime.datetime(2017, 5, 2, 13, 53, 40),
  datetime.datetime(2017, 5, 2, 13, 53, 40)),
 (14,
  0.041,
  1.064,
  81.007,
  datetime.datetime(2017, 5, 2, 15, 26, 14),
  datetime.datetime(2017, 5, 2, 15, 26, 14)),
 (15,
  0.038,
  1.013,
  84.909,
  datetime.datetime(2017, 5, 2, 22, 59, 52),
  datetime.datetime(2017, 5, 2, 22, 59, 52)),
 (16,
  0.036,
  0.887,
  89.371,
  datetime.datetime(2017, 5, 2, 21, 27, 8),
  datetime.datetime(2017, 5, 2, 21, 27, 8)),
 (17,
  0.033,
  0.887,
  76.174,
  datetime.datetime(2017, 5, 2, 17, 44, 16),
  datetime.datetime(2017, 5, 2, 17, 44, 16)),
 (18,
  0.03,
  1.034,
  76.174,
  datetime.datetime(2017, 5, 2, 18, 15, 15),
  datetime.datetime(2017, 5, 2, 18, 15, 15)),
 (19,
  0.027,
  0.996,
  86.398,
  datetime.datetime(2017, 5, 3, 2, 5, 31),
  datetime.datetime(2017, 5, 3, 2, 5, 31)),
 (20,
  0.027,
  0.887,
  82.308,
  datetime.datetime(2017, 5, 3, 1, 34, 32),
  datetime.datetime(2017, 5, 3, 1, 34, 32)),
 (21,
  0.026,
  0.86,
  78.777,
  datetime.datetime(2017, 5, 2, 12, 46, 48),
  datetime.datetime(2017, 5, 2, 12, 46, 48)),
 (22,
  0.025,
  0.887,
  87.512,
  datetime.datetime(2017, 5, 3, 0, 1, 46),
  datetime.datetime(2017, 5, 3, 0, 1, 46)),
 (23,
  0.023,
  0.887,
  88.999,
  datetime.datetime(2017, 5, 3, 2, 36, 26),
  datetime.datetime(2017, 5, 3, 2, 36, 26)),
 (24,
  0.022,
  0.887,
  93.088,
  datetime.datetime(2017, 5, 3, 3, 7, 21),
  datetime.datetime(2017, 5, 3, 3, 7, 21)),
 (25,
  0.019,
  0.887,
  79.333,
  datetime.datetime(2017, 5, 2, 14, 24, 35),
  datetime.datetime(2017, 5, 2, 14, 24, 35)),
 (26,
  0.018,
  0.887,
  75.43,
  datetime.datetime(2017, 5, 2, 17, 8),
  datetime.datetime(2017, 5, 2, 17, 8)),
 (27,
  0.017,
  0.887,
  92.16,
  datetime.datetime(2017, 5, 3, 3, 38, 15),
  datetime.datetime(2017, 5, 3, 3, 38, 15)),
 (28,
  0.012,
  0.887,
  89.744,
  datetime.datetime(2017, 5, 3, 4, 8, 53),
  datetime.datetime(2017, 5, 3, 4, 8, 53)),
 (29,
  0.008,
  0.887,
  93.646,
  datetime.datetime(2017, 5, 3, 4, 39, 31),
  datetime.datetime(2017, 5, 3, 4, 39, 31)),
 (30,
  0.008,
  0.916,
  93.646,
  datetime.datetime(2017, 5, 3, 6, 11, 22),
  datetime.datetime(2017, 5, 3, 6, 11, 22)),
 (31,
  0.008,
  0.887,
  93.834,
  datetime.datetime(2017, 5, 3, 5, 10, 9),
  datetime.datetime(2017, 5, 3, 5, 10, 9)),
 (32,
  0.007,
  0.916,
  92.718,
  datetime.datetime(2017, 5, 3, 5, 40, 46),
  datetime.datetime(2017, 5, 3, 5, 40, 46)),
 (33,
  0.006,
  0.916,
  94.577,
  datetime.datetime(2017, 5, 3, 7, 43, 11),
  datetime.datetime(2017, 5, 3, 7, 43, 11)),
 (34,
  0.006,
  0.916,
  93.088,
  datetime.datetime(2017, 5, 3, 7, 12, 35),
  datetime.datetime(2017, 5, 3, 7, 12, 35)),
 (35,
  0.005,
  0.902,
  78.777,
  datetime.datetime(2017, 5, 2, 12, 41, 9),
  datetime.datetime(2017, 5, 2, 12, 41, 9)),
 (36,
  0.0,
  0.916,
  91.416,
  datetime.datetime(2017, 5, 3, 8, 13, 49),
  datetime.datetime(2017, 5, 3, 8, 13, 49)),
 (37,
  0.0,
  0.916,
  86.398,
  datetime.datetime(2017, 5, 3, 9, 15, 3),
  datetime.datetime(2017, 5, 3, 9, 15, 3)),
 (38,
  0.0,
  0.916,
  80.634,
  datetime.datetime(2017, 5, 3, 9, 45, 38),
  datetime.datetime(2017, 5, 3, 9, 45, 38)),
 (39,
  0.0,
  0.916,
  77.475,
  datetime.datetime(2017, 5, 3, 10, 16, 23),
  datetime.datetime(2017, 5, 3, 10, 16, 23)),
 (40,
  0.0,
  0.916,
  91.602,
  datetime.datetime(2017, 5, 3, 6, 42),
  datetime.datetime(2017, 5, 3, 6, 42)),
 (41,
  0.0,
  0.916,
  91.602,
  datetime.datetime(2017, 5, 3, 8, 44, 25),
  datetime.datetime(2017, 5, 3, 8, 44, 25)),
 (42,
  0.0,
  0.789,
  80.076,
  datetime.datetime(2017, 5, 2, 11, 27, 59),
  datetime.datetime(2017, 5, 2, 11, 27, 59)),
 (43,
  0.0,
  0.846,
  76.545,
  datetime.datetime(2017, 5, 2, 11, 58, 24),
  datetime.datetime(2017, 5, 2, 11, 58, 24)),
 (44,
  0.0,
  0.887,
  80.82,
  datetime.datetime(2017, 5, 2, 13, 22, 59),
  datetime.datetime(2017, 5, 2, 13, 22, 59)),
 (45,
  0.0,
  1.194,
  81.192,
  datetime.datetime(2017, 5, 2, 13, 17, 44),
  datetime.datetime(2017, 5, 2, 13, 17, 44)),
 (46,
  0.0,
  0.87,
  78.219,
  datetime.datetime(2017, 5, 2, 12, 35, 29),
  datetime.datetime(2017, 5, 2, 12, 35, 29)),
 (47,
  0.0,
  0.926,
  77.846,
  datetime.datetime(2017, 5, 2, 12, 29, 52),
  datetime.datetime(2017, 5, 2, 12, 29, 52)),
 (48,
  0.0,
  0.816,
  77.475,
  datetime.datetime(2017, 5, 2, 12, 24, 37),
  datetime.datetime(2017, 5, 2, 12, 24, 37)),
 (49,
  0.0,
  0.832,
  77.475,
  datetime.datetime(2017, 5, 2, 12, 19, 23),
  datetime.datetime(2017, 5, 2, 12, 19, 23)),
 (50,
  0.0,
  0.872,
  77.103,
  datetime.datetime(2017, 5, 2, 12, 14, 8),
  datetime.datetime(2017, 5, 2, 12, 14, 8)),
 (51,
  0.0,
  0.873,
  76.732,
  datetime.datetime(2017, 5, 2, 12, 8, 53),
  datetime.datetime(2017, 5, 2, 12, 8, 53)),
 (52,
  0.0,
  0.874,
  76.174,
  datetime.datetime(2017, 5, 2, 12, 3, 39),
  datetime.datetime(2017, 5, 2, 12, 3, 39)),
 (53,
  0.0,
  0.916,
  72.642,
  datetime.datetime(2017, 5, 3, 10, 46, 39),
  datetime.datetime(2017, 5, 3, 10, 46, 39))]

In [18]:
pd.read_sql('SELECT * FROM alcohol_levels', con=my_connection)

,index,tac_level,ir_voltage,temperature,time,date
0,0,0.224,0.887,85.840,2017-05-02 20:25:15,2017-05-02 20:25:15
1,1,0.181,1.037,77.288,2017-05-02 19:54:15,2017-05-02 19:54:15
2,2,0.170,0.887,72.084,2017-05-02 19:20:07,2017-05-02 19:20:07
3,3,0.167,0.887,71.526,2017-05-02 18:49:06,2017-05-02 18:49:06
4,4,0.143,0.887,81.007,2017-05-02 14:55:17,2017-05-02 14:55:17
5,5,0.130,0.887,89.744,2017-05-02 20:56:13,2017-05-02 20:56:13
6,6,0.110,0.887,80.263,2017-05-02 16:33:45,2017-05-02 16:33:45
7,7,0.105,0.887,80.449,2017-05-02 16:01:28,2017-05-02 16:01:28
8,8,0.105,0.887,91.044,2017-05-03 00:32:42,2017-05-03 00:32:42
9,9,0.090,0.887,89.929,2017-05-02 21:58:03,2017-05-02 21:58:03
10,10,0.071,1.004,89.929,2017-05-02 22:28:58,2017-05-02 22:28:58
11,11,0.063,1.029,84.353,2017-05-02 23:30:49,2017-05-02 23:30:49
12,12,0.051,0.887,86.398,2017-05-03 01:03:36,2017-05-03 01:03:36
13,13,0.048,0.887,80.449,2017-05-02 13:53:40,2017-05-02 13:53:40
14,14,0.041,1.064,81.007,2017-05-02 15:26:14,2017-05-02 15:26:14
15,15,0.038,1.013,84.909,2017-05-02 22:59:52,2017-05-02 22:59:52
16,16,0.036,0.887,89.371,2017-05-02 21:27:08,2017-05-02 21:27:08
17,17,0.033,0.887,76.174,2017-05-02 17:44:16,2017-05-02 17:44:16
18,18,0.030,1.034,76.174,2017-05-02 18:15:15,2017-05-02 18:15:15
19,19,0.027,0.996,86.398,2017-05-03 02:05:31,2017-05-03 02:05:31
20,20,0.027,0.887,82.308,2017-05-03 01:34:32,2017-05-03 01:34:32
21,21,0.026,0.860,78.777,2017-05-02 12:46:48,2017-05-02 12:46:48
22,22,0.025,0.887,87.512,2017-05-03 00:01:46,2017-05-03 00:01:46
23,23,0.023,0.887,88.999,2017-05-03 02:36:26,2017-05-03 02:36:26
24,24,0.022,0.887,93.088,2017-05-03 03:07:21,2017-05-03 03:07:21
25,25,0.019,0.887,79.333,2017-05-02 14:24:35,2017-05-02 14:24:35
26,26,0.018,0.887,75.430,2017-05-02 17:08:00,2017-05-02 17:08:00
27,27,0.017,0.887,92.160,2017-05-03 03:38:15,2017-05-03 03:38:15
28,28,0.012,0.887,89.744,2017-05-03 04:08:53,2017-05-03 04:08:53
29,29,0.008,0.887,93.646,2017-05-03 04:39:31,2017-05-03 04:39:31
30,30,0.008,0.916,93.646,2017-05-03 06:11:22,2017-05-03 06:11:22
31,31,0.008,0.887,93.834,2017-05-03 05:10:09,2017-05-03 05:10:09
32,32,0.007,0.916,92.718,2017-05-03 05:40:46,2017-05-03 05:40:46
33,33,0.006,0.916,94.577,2017-05-03 07:43:11,2017-05-03 07:43:11
34,34,0.006,0.916,93.088,2017-05-03 07:12:35,2017-05-03 07:12:35
35,35,0.005,0.902,78.777,2017-05-02 12:41:09,2017-05-02 12:41:09
36,36,0.000,0.916,91.416,2017-05-03 08:13:49,2017-05-03 08:13:49
37,37,0.000,0.916,86.398,2017-05-03 09:15:03,2017-05-03 09:15:03
38,38,0.000,0.916,80.634,2017-05-03 09:45:38,2017-05-03 09:45:38
39,39,0.000,0.916,77.475,2017-05-03 10:16:23,2017-05-03 10:16:23
40,40,0.000,0.916,91.602,2017-05-03 06:42:00,2017-05-03 06:42:00
41,41,0.000,0.916,91.602,2017-05-03 08:44:25,2017-05-03 08:44:25
42,42,0.000,0.789,80.076,2017-05-02 11:27:59,2017-05-02 11:27:59
43,43,0.000,0.846,76.545,2017-05-02 11:58:24,2017-05-02 11:58:24
44,44,0.000,0.887,80.820,2017-05-02 13:22:59,2017-05-02 13:22:59
45,45,0.000,1.194,81.192,2017-05-02 13:17:44,2017-05-02 13:17:44
46,46,0.000,0.870,78.219,2017-05-02 12:35:29,2017-05-02 12:35:29
47,47,0.000,0.926,77.846,2017-05-02 12:29:52,2017-05-02 12:29:52
48,48,0.000,0.816,77.475,2017-05-02 12:24:37,2017-05-02 12:24:37
49,49,0.000,0.832,77.475,2017-05-02 12:19:23,2017-05-02 12:19:23
50,50,0.000,0.872,77.103,2017-05-02 12:14:08,2017-05-02 12:14:08
51,51,0.000,0.873,76.732,2017-05-02 12:08:53,2017-05-02 12:08:53
52,52,0.000,0.874,76.174,2017-05-02 12:03:39,2017-05-02 12:03:39
53,53,0.000,0.916,72.642,2017-05-03 10:46:39,2017-05-03 10:46:39

In [19]:
df['tac_level'] = df['tac_level'].astype(float)
df['ir_voltage'] = df['ir_voltage'].astype(float)
df['temperature'] = df['temperature'].astype(float)

In [20]:
from category_encoders import OrdinalEncoder
from category_encoders import OneHotEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.ensemble import BaggingRegressor

In [21]:
baseline = [df['tac_level'].mean()] * len(df)
print(f'Baseline is: {round(baseline[0],2)}')
len(baseline)
len(df)

Baseline is: 0.04

54

In [22]:
df.head()

,tac_level,ir_voltage,temperature,time,date
0,0.224,0.887,85.840,2017-05-02 20:25:15,2017-05-02 20:25:15
1,0.181,1.037,77.288,2017-05-02 19:54:15,2017-05-02 19:54:15
2,0.170,0.887,72.084,2017-05-02 19:20:07,2017-05-02 19:20:07
3,0.167,0.887,71.526,2017-05-02 18:49:06,2017-05-02 18:49:06
4,0.143,0.887,81.007,2017-05-02 14:55:17,2017-05-02 14:55:17

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tac_level    54 non-null     float64
 1   ir_voltage   54 non-null     float64
 2   temperature  54 non-null     float64
 3   time         54 non-null     object
 4   date         54 non-null     object
dtypes: float64(3), object(2)
memory usage: 2.2+ KB

In [24]:
X = df.drop(columns=['tac_level', 'ir_voltage'])
y = df['tac_level']

In [25]:
for col in df.columns:
    if df[col].dtype != 'O':
        df[col].fillna(df[col].mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tac_level    54 non-null     float64
 1   ir_voltage   54 non-null     float64
 2   temperature  54 non-null     float64
 3   time         54 non-null     object
 4   date         54 non-null     object
dtypes: float64(3), object(2)
memory usage: 2.2+ KB

In [26]:
X_train, v, y_train, y = train_test_split(X,y, test_size=.2, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(v,y, test_size=.5, random_state=42)

In [29]:
model_rf = make_pipeline(
    OrdinalEncoder(),
    XGBRegressor(random_state=42)
)

model_rf.fit(X_train, y_train)

Pipeline(steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['time', 'date'],
                                mapping=[{'col': 'time',
                                          'data_type': dtype('O'),
                                          'mapping': 2017-05-03 00:32:42     1
2017-05-02 17:08:00     2
2017-05-02 16:33:45     3
2017-05-03 07:12:35     4
2017-05-02 14:55:17     5
2017-05-03 09:15:03     6
2017-05-03 03:07:21     7
2017-05-02 13:17:44     8
2017-05-03 07:43:11     9
2017-05-02 12:14:08    10
2017-05-02 22:59:52    11
2017-05-02 21:...
                              feature_types=None, gamma=None, gpu_id=None,
                              grow_policy=None, importance_type=None,
                              interaction_constraints=None, learning_rate=None,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=None, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, n_estimators=100,
                              n_jobs=None, num_parallel_tree=None,
                              predictor=None, random_state=42, ...))])

In [30]:
train_base = [df['tac_level'].mean()] * len(y_train)

In [31]:
mean_absolute_error(y_train, train_base)

0.041527131782945745

In [32]:
mean_absolute_error(y_train, model_rf.predict(X_train))

0.0008324493618606218

In [33]:
mean_absolute_error(y_test, model_rf.predict(X_test))

0.050942309131224946

In [34]:
r2_score(y_train, model_rf.predict(X_train))

0.9996445256725306

In [35]:
r2_score(y_test, model_rf.predict(X_test))

-0.4987045291214136

Conclusion:
When evaluating the model built for this data frame, it seems relying on the baseline of the mean of the 'TAC Level' may be the best way of looking at this data, although it does not provide the insight we were looking to obtain. I believe the model does not currently have enough information from the data to draw a conclusion on any relationship. Initially we attempted to evaluate the relationship between 'TAC Level' and the time of day. However, we were unable to make the model perform well enough to rely on the output. The training model worked well, but the testing model performed poorly. We have come to this conclusion after several attempts to fine-tune the data and after running several regression model types. I believe we would have better success with this model if we had more data.